@font-face {
    font-family: InstrumentSerif;
    src: url(/InstrumentSerif.ttf) format("truetype");
}

@font-face {
    font-family: EnvyCodeR;
    src: url(/EnvyCodeR.ttf) format("truetype");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background: black;
    color: #ffeecc;
    font-family: EnvyCodeR, monospace;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    font-size: 16px;
    overflow: hidden;
}

#mobile {
    display: none;
}

@media (hover: none) or (max-width: 600px) or (max-height: 600px) {
    #mobile {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: black;
        z-index: 99999;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: scroll;
        h1 {
            font-size: 6rem;
            text-shadow: 0 0 60px #ffffff;
            letter-spacing: 3%;
            margin: 0;
            font-family: InstrumentSerif, serif;
        }
        p {
            font-size: 1.2rem;
            padding: 0.5rem 2rem;
            margin: 0;
            text-align: center;
            @media (hover: none) {
                &.hasmouse {
                    display: none;
                }
            }
        }
    }
}

#indev-notif {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    font-size: 1rem;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    text-align: right;
    background: #eeddbb;
    color: black;
    padding: 10px;
    span:first-of-type {
        font-size: 2rem;
    }
    span:last-of-type {
        font-size: 0.7rem;
        line-height: 1rem;
    }
    max-width: calc(100vw - 2rem);
    opacity: 1;
    transform: translateX(0);
    cursor: pointer;
    &.dismissed {
        opacity: 0;
        transform: translateX(100%);
        transition:
            opacity ease-in-out 1s,
            transform ease-in-out 1s;
        pointer-events: none;
    }
    animation: indev-notif ease-in-out 1s;
}

@keyframes indev-notif {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#splash,
#title-screen,
#ingame {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    transition: ease-out opacity 0.5s;
    &:not(.show) {
        opacity: 0;
        pointer-events: none;
    }
}

#splash,
#title-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#splash {
    cursor: none;
    z-index: 999;
    transition: ease-out opacity 2s;
    h1 {
        margin: auto;
        font-size: 10rem;
        opacity: 0;
        text-shadow: 0 0 60px #ffffff;
        font-family: InstrumentSerif, serif;
    }
    &.show h1 {
        animation: splash-intro ease-in-out 3s;
    }
}

@keyframes splash-intro {
    from {
        opacity: 0;
        letter-spacing: 3%;
        transform: scale(0.8);
    }
    30%,
    70% {
        opacity: 1;
    }
    to {
        opacity: 0;
        letter-spacing: 8%;
        transform: scale(1);
    }
}

#title-screen {
    gap: 1rem;
    h1 {
        font-size: 6rem;
        text-shadow: 0 0 60px #ffffff;
        letter-spacing: 3%;
        margin: 0;
        font-family: InstrumentSerif, serif;
    }
    button {
        cursor: pointer;
        background: none;
        border: none;
        color: inherit;
        font: inherit;
        font-size: 2rem;
        padding: 0;
        margin: 0;
        letter-spacing: 1%;
        transition: ease-out letter-spacing 0.5s;
        &:hover {
            text-decoration: underline;
            letter-spacing: 10%;
        }
    }
    #gitdetails {
        position: fixed;
        left: 1rem;
        bottom: 1rem;
        opacity: 0.2;
        transition: opacity ease-out 0.1s;
        font-size: 0.7rem;
        color: inherit;
        text-decoration: none;
        &:hover {
            opacity: 1;
        }
    }
}

#ingame {
    &.loading {
        #goal,
        #burncontrol,
        #timecontrol {
            display: none;
        }
    }
    #goal {
        z-index: 1;
        position: fixed;
        left: 0;
        top: 0;
        #goal-name {
            font-size: 1.2rem;
            margin: 0;
        }
        ul {
            margin: 0.7rem 0 0 0;
            padding: 0 0 0 1.5rem;
            list-style-type: "* ";
        }
        padding: 1rem;
        border-bottom: 1px solid #ffeecc;
        border-right: 1px solid #ffeecc;
        background: black;
        overflow: hidden;
    }
    #burncontrol {
        z-index: 1;
        position: fixed;
        right: 0;
        top: 0;
        padding: 1rem;
        border-bottom: 1px solid #ffeecc;
        border-left: 1px solid #ffeecc;
        background: black;
        overflow: hidden;
        input,
        button {
            font: inherit;
            color: inherit;
            background: none;
            border: 1px solid #ffeecc;
        }
        input[type="radio"] {
            appearance: none;
            display: none;
        }
        input[type="radio"]:checked + label {
            opacity: 1;
        }
        input[type="radio"] + label {
            opacity: 0.6;
            svg {
                width: 4rem;
                height: 4rem;
            }
        }
        button {
            cursor: pointer;
        }
    }
    #timecontrol {
        z-index: 1;
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        height: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .controls {
            display: flex;
            flex-direction: row;
            button {
                background: none;
                margin: 0;
                padding: 0;
                border: none;
                cursor: pointer;
                svg {
                    width: 2rem;
                    height: 2rem;
                }
            }
            .playpause {
                &[data-state="play"] {
                    svg {
                        .pause {
                            display: none;
                        }
                    }
                }
                &[data-state="pause"] {
                    svg {
                        .play {
                            display: none;
                        }
                    }
                }
            }
        }
        .slider {
            display: flex;
            flex-direction: row;
            width: 100%;
            max-width: 30rem;
            align-items: center;
            align-content: center;
            height: 30px;
            cursor: pointer;
            div {
                display: inline-block;
            }
            .left,
            .right {
                width: 100%;
                z-index: 1;
            }
            .dot {
                width: 0.6rem;
                height: 0.6rem;
                border-radius: 99999rem;
                flex-shrink: 0;
                margin-left: -0.3rem;
                margin-right: -0.3rem;
                z-index: 2;
            }
            .left {
                height: 0.2rem;
                width: var(--pos, 100%);
            }
            .left,
            .dot {
                background: #eeddbb;
            }
            .right {
                height: 0.1rem;
                background: #aa9977;
                width: calc(100% - var(--pos, 0%));
            }
        }
        span {
            color: #a19680;
        }
    }
    #game {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: black;
        z-index: 0;
    }
}
